@import "susy";
@import "defaults";


.container{
  @include container;
}
h2{
  @include leader;
  font-weight: bold;
}
form{
  ol{
    @include no-bullets;
    @include trailer(1);
    margin: 0;
    label{
      display: inline-block;
      width: 10em;
      &:after{
        content: ':';
      }
    }
    input[type="number"]{
      width: 15em;
    }
  }
}
dl{
  margin: 0;
  @include trailer(3);
  overflow: auto;
  dt, dd{
    margin: 0;
    @include leader(1);
    float: left;
  }
  dt{
    clear: left;
    width: 15%;
    font-weight: bold;
    &:after{
      content: ':';
    }
  }
  dd{
    width: 85%;
    padding-left: 0;
  }
}

img.static, #map{
  border: 3px solid $pale-border;
}

